@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Alegreya+SC:300,400,500,600,700";
@keyframes floating {
  from {
    transform: translateY(0px);
  }
  65% {
    transform: translateY(15px);
  }
  to {
    transform: translateY(0px);
  }
}
html {
  height: 100%;
  background-color: transparent;
}

body {
  background-image: url("../images/sfondo.jpg");
  background-size: cover;
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: auto;
  background-attachment: fixed;
  overflow: hidden;
  text-align: center;
}

.btn-play{
  color: white;
  border: 1px solid white;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 4vmin;
  text-decoration: none;
  border-radius: 5px;
  
}

.container-fluid{
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    align-items: stretch;
    display: flex;
    margin: auto;
    
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.7em;
    color: black;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    min-width: 250px;
    max-width: 250px;
    background-color: transparent;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #fff;
    background-color: slategray;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background-color: steelblue;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: steelblue;
}

#play_button:hover {
  background: white;
  color: black;
}

#play_button{
    color:white;
    margin: auto;
    margin-top: 10vmin;
    font-size: 10vmin;
      transition: all 0.3s;
}

#homepage{
    display: none;
    transition: all 0.3s;
}

#content{
    background-color: white;
    opacity: 0.8;
    height: 100%;
    width: 100%;
}

.btn-info{
    background-color: transparent;
    border-color: black;
    color: black;
}
.btn-info:hover{
    background-color: black;
    color:white;
}

#maps_artic, #maps_antartic{

    height: 50%;
    width:50%;
    margin:0;
    float:left;
}

#graph_artic, #graph_antartic{
   
    height: 50%;
    width:50%;
    margin:0;
    float: right
}

#antartic_v{
    background-color: black;
    height: 100%;
    width:50%;
    margin:0;
    float: right
}

#artic_v{
    background-color: black;
    height: 100%;
    width:50%;
    margin:0;
    float:left;
}

#home_div{
    background-color: black;
    color: white;
}

.menu-div{
    height:100%;
    width: 100%;
}

.row{
    margin: auto;
}

#artic_row_month,#artic_row_year{
    align-content: center;
    margin: auto;
}

a, input, span{
    margin: auto;
}


.slider {
    -webkit-appearance: none;
    width: 60%;
    height: 10px;
    border-radius: 5px;
    background-color: steelblue;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
    background-color: slategray;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#title{
    color: skyblue;
    font-size: 8vmin;
}

video{
    margin: auto;
    width: 100%;
    height: 50%;
}
img{
    margin: auto;
    width: 70%;
}

